@model WeatherInfo.Root
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<table>
    <thead>
    <th><h1>8-day forecast</h1></th>
    </thead>

        @foreach (var item in Model.weather)
        {
            <p>Main: @item.main </p>
            <p>Desc: @item.description </p>
            <p>Icon: @item.icon </p>
            <p>Id: @item.id </p>
        }
        <tr>
            <td>Mon, Sep 27</td>
            <td>IKON | 18 grader | kort beskrivelse</td>
        </tr>
        <tr>
            <td>Mon, Sep 27</td>
            <td>IKON | 18 grader | kort beskrivelse</td>
        </tr>
        <tr>
            <td>Mon, Sep 27</td>
            <td>IKON | 18 grader | kort beskrivelse</td>
        </tr>
    </tr>
</table>


<p>
    @Model.wind.deg
    @foreach (var item in Model.weather) {
        //Billde er taget fra opgaven http://openweathermap.org/img/wn/10d@2x.png
        <img src="https://openweathermap.org/img/wn/@item.icon@@2x.png">
    }
</p>
