@model WeatherForecast.Models.Root
@{
    ViewData["Title"] = "Home Page";
}


<div class="text-left">
    <h1 class="display-4">Weather</h1>

    <div>

        @foreach (var item in Model.list)
        {
            @foreach (var item2 in item.weather)
            {

            <p> Country: @Model.city.country</p>

            <p> Date: @item.dt_txt</p>

            <p>Condition: @item2.description <img src="http://openweathermap.org/img/wn/10d@2x.png"></p>

            <p>Temperature: @item.main.temp</p>
            
            <p>Humidity: @item.main.humidity</p>
            
            <p>Sea level:@item.main.sea_level</p>
                        
            <p>Pressure:@item.main.pressure</p>

            }
            //Billde er taget fra opgaven http://openweathermap.org/img/wn/10d@2x.png
            //<img src="https://openweathermap.org/img/wn/@item.icon@@2x.png">
        }
     </div>
</div>


